{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-lock"></i>&nbsp;
        {% trans from "club" %}FORM.CONNECTING.TITLE{% endtrans %}
    </h2>
    <p>{{ 'FORM.CONNECTING.SUCCESS' | trans({'%name%': userInformation.realName}, 'club') }}</p>
{% endblock hwi_oauth_content %}
