{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.TEAMIMPORT.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ 'FORM.TEAMIMPORT.PROMPT'|trans }}
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}