{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block widebody %}
<div class="jumbotron"
     style="
    background-image: url('{{ asset('bundles/icuppublicsite/images/IWC/bg.jpg') }}');
    background-size: cover;
    background-repeat: no-repeat;">
    <div class="container">
        <img src="{{ asset('bundles/icuppublicsite/images/IWC/logo.png') }}" alt="logo" class="img-responsive" />
    </div>
</div>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h2>{% trans %}FORM.NEWUSER.TITLE{% endtrans %}</h2>
        <p>{% trans %}FORM.NEWUSER.PROMPT{% endtrans %}</p>
        {{ form(form) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h1>
            <span class="label label-primary">
                <i class="fa fa-info-circle"></i>&nbsp;
                {% trans %}FORM.NEWUSER.SECTION2.HEADER{% endtrans %}
            </span>
        </h1>
        <p class="lead">{% trans %}FORM.NEWUSER.SECTION2.TEXT{% endtrans %}</p>
    </div>
    <div class="col-md-4">
        <h3>
            <span class="label label-default">
                <i class="fa fa-magic"></i>&nbsp;
                {% trans %}FORM.NEWUSER.SECTION1.HEADER{% endtrans %}        
            </span>
        </h3>
        <p>{% trans %}FORM.NEWUSER.SECTION1.TEXT{% endtrans %}</p>
        <p />
            <a href="{{ path('_user_my_page') }}" class="btn btn-default" role="button">{% trans %}FORM.NEWUSER.LOGIN{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            <span class="label label-default">
                <i class="fa fa-question-circle"></i>&nbsp;
                {% trans %}FORM.NEWUSER.SECTION3.HEADER{% endtrans %}
            </span>
        </h3>
        <p>{% trans %}FORM.NEWUSER.SECTION3.TEXT{% endtrans %}</p>
    </div>
</div>
{% endblock %}