{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<h2>{% trans %}FORM.LOGIN.TITLE{% endtrans %}</h2>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>{% trans %}FORM.LOGIN.PROMPT{% endtrans %}</p>
{% if tournament is defined and tournament %}
                <p><span class="label label-default">{{ tournament.name }}</span></p>
{% endif %}
            </div>
            <div class="col-md-7">
                {{ form(form) }}
            </div>
            <div class="col-md-5">
                <h3>
                    <span class="label label-default">
                        <i class="fa fa-question-circle"></i>&nbsp;
                        {% trans %}FORM.LOGIN.SECTION1.HEADER{% endtrans %}
                    </span>
                </h3>
                <p>{% trans %}FORM.LOGIN.SECTION1.TEXT{% endtrans %}</p>
                <p />
                    <a href="{{ path('_user_my_page') }}" class="btn btn-info" role="button">{% trans %}FORM.LOGIN.LOSTPWD{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
                </p>
            </div>
        </div>
    </div>
    <hr class="hidden-md hidden-lg" />
    <div class="col-md-4">
        <h1>
            <span class="label label-primary">
                <i class="fa fa-info-circle"></i>&nbsp;
                {% trans %}FORM.LOGIN.SECTION.HEADER{% endtrans %}
            </span>
        </h1>
        <p class="lead">{% trans %}FORM.LOGIN.SECTION.TEXT{% endtrans %}</p>
        <p />
            <a href="{{ path('_ausr_new_user') }}" class="btn btn-default" role="button">{% trans %}FORM.LOGIN.SECTION.LINK{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
        </p>
    </div>
</div>
{% endblock %}
