{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div style="width: 70%; float: left;">
{% if tournament is defined and tournament %}
<h1 class="category">{{ tournament.name }}</h1>
{% else %}
<h1 class="category">{% trans %}FORM.ERROR.NOTOURNAMENT{% endtrans %}</h1>
{% endif %}
<p class="subcategory">{% trans %}FORM.TITLE{% endtrans %}</p>
<p>{% trans %}FORM.NEWUSER.TITLE{% endtrans %}</p>
{% if error is defined and error %}
    <div class="form_error">{{ error.message }}</div>
{% endif %}
{{ form(form) }}
</div>
<div class="infobox" style="width: 25%; float: left;">
    <p><b>{{ 'FORM.NEWUSER.SECTION.HEADER'|trans|upper }}</b></p>
    <p>{% trans %}FORM.NEWUSER.SECTION.TEXT{% endtrans %}</p>
</div>
{% endblock %}