{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div style="width: 70%; float: left;">
{% if tournament is defined and tournament %}
    <h1>{{ tournament.name }}</h1>
    <p class="lead">{% trans %}FORM.TITLE{% endtrans %}</p>
{% else %}
    <h1>{% trans %}FORM.TITLE{% endtrans %}</h1>
{% endif %}
<p>{% trans %}FORM.LOGIN.TITLE{% endtrans %}</p>
{{ form(form) }}
</div>
<div class="new_user" style="width: 25%; float: left;">
    <p><b>{{ 'FORM.LOGIN.SECTION.HEADER'|trans|upper }}</b></p>
    <p>{% trans %}FORM.LOGIN.SECTION.TEXT{% endtrans %}</p>
    <p><a href="{{ path('_ausr_new_user') }}">{% trans %}FORM.LOGIN.SECTION.LINK{% endtrans %}</a></p>
</div>
{% endblock %}