{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading">
        <b>{% trans %}FORM.NEWPASS.TITLE{% endtrans %}</b>
    </div>
    <div class="panel-body lead">
        <p>{{ user.name|capitalize }} ({{ user.username|upper }})</p>
        <p>{% trans %}FORM.NEWPASS.PROMPT{% endtrans %}</p>
    </div>
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}