{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {% trans %}FORM.MYPAGE.DEFAULT_ADMIN{% endtrans %}
    </div>
    <div class="panel-body">
        {% trans %}FORM.MYPAGE.DEFADM.WARNING{% endtrans %}<br />
        <a href="{{ path('_user_chg_pass') }}">{% trans %}FORM.MYPAGE.DEFADM.LINK{% endtrans %}</a>
    </div>
</div>
{% endblock %}