{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ currentuser.name|capitalize }} ({{ currentuser.username|upper }})<br />
        {% trans %}FORM.MYPAGE.ADMIN{% endtrans %}
    </div>
    <div class="panel-body">
    </div>
</div>
{% endblock %}