{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ currentuser.name|capitalize }} ({{ currentuser.username|upper }})
    </div>
    <div class="panel-body">
        <b>{% trans %}FORM.MYPAGE.NONREL.TITLE{% endtrans %}</b><br />
        {% trans %}FORM.MYPAGE.NONREL.TEXT{% endtrans %}<br />
        <a href="{{ path('_club_new') }}">{% trans %}FORM.MYPAGE.NONREL.LINK{% endtrans %}</a>
    </div>
{% endblock %}