{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<p class="lead">
    {% trans %}FORM.CONTACT.TITLE{% endtrans %}
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        {% trans %}FORM.CONTACT.SUBTITLE{% endtrans %}<br />
    </div>
    <div class="panel-body">
        <b>icup.dk</b><br />
        Morten Meilby<br />
        mm@iserve.dk
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        {% trans %}FORM.CONTACT.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}FORM.CONTACT.LEGEND.NAME{% endtrans %}</td>
                <td>{% trans %}FORM.CONTACT.LEGEND.EDITION{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
<!--            
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.PROGRAM{% endtrans %}</td>
                <td class="edition">Morten Meilby</td>
            </tr>
-->
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.TRANSLATION.ITA{% endtrans %}</td>
                <td class="edition">Fabrizio Quaranta</td>
            </tr>
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.TRANSLATION.FRA{% endtrans %}</td>
                <td class="edition">George Cantarutti</td>
            </tr>
<!--
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.TRANSLATION.ENG{% endtrans %}</td>
                <td class="edition">Morten Meilby</td>
            </tr>
-->
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.TRANSLATION.POL{% endtrans %}</td>
                <td class="edition">Marta Gonschorreck</td>
            </tr>
<!--
            <tr>
                <td class="tournament">{% trans %}FORM.CONTACT.DATA.TRANSLATION.DAN{% endtrans %}</td>
                <td class="edition">Morten Meilby</td>
            </tr>
-->
        </tboby>
    </table>
</div>
{% endblock %}