{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="jumbotron hidden-xs">
    <div class="container">
    </div>
</div>
<div class="visible-xs">
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}