{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<h1 class="category">{% trans %}FORM.SEL_TMNT.TITLE{% endtrans %}</h1>
<p class="subcategory">
    {% trans %}FORM.SEL_TMNT.SUBTITLE{% endtrans %}<br />
</p>
<table>
    <caption>{% trans %}FORM.SEL_TMNT.CAPTION{% endtrans %}</caption>
    <thead>
        <tr>
            <td class="statistics">{% trans %}FORM.SEL_TMNT.LEGEND{% endtrans %}</td>
        </tr>
    </thead>
    <tboby>
{% for tmnt in tournaments %}
    {% set tournament = tmnt.tournament %}
        <tr class="{{ cycle(['even','odd'],loop.index0) }}">
            <td class="title" colspan="1">
                <a href="{{ path('_tournament_overview', { 'tournament': tournament.key }) }}">{{ tournament.name }}</a>
            </td>
        </tr>
{% endfor %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="1"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}