{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<table>
    <caption>{% trans %}FORM.STATISTICS.TITLE{% endtrans %}</caption>
    <thead>
        <tr>
            <td colspan="2">{% trans %}FORM.STATISTICS.LEGEND.KEY{% endtrans %}</td>
            <td class="statistics">{% trans %}FORM.STATISTICS.LEGEND.FIGURE{% endtrans %}</td>
        </tr>
    </thead>
    <tboby>
{% for group,grouporder in order %}
        <tr class="odd">
            <td class="title" colspan="3">{{ ['FORM.STATISTICS.GROUP.',group]|join()|upper|trans }}</td>
        </tr>
    {% for key in grouporder %}
        <tr class="{{ cycle(['even','odd'],loop.index0) }}">
            <td class="indent"></td>
            <td>{{ ['FORM.STATISTICS.KEY.',key]|join()|upper|trans }}</td>
            <td class="statistics">{{ statistics[key] }}</td>
        </tr>
    {% endfor %}
{% endfor %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}