{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<p class="lead">
    {% trans %}FORM.STATISTICS.TITLE{% endtrans %}
</p>
<div class="row">
{% for group,grouporder in order %}
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ ['FORM.STATISTICS.GROUP.',group]|join()|upper|trans }}</b></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <td class="justify-right">{% trans %}FORM.STATISTICS.LEGEND.FIGURE{% endtrans %}</td>
                    </tr>
                </thead>
                <tboby>
    {% for key in grouporder %}
                    <tr>
                        <td>{{ ['FORM.STATISTICS.KEY.',key]|join()|upper|trans }}</td>
                        <td class="justify-right">{{ statistics[key] }}</td>
                    </tr>
    {% endfor %}
                </tboby>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}