<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% stylesheets '@ICupPublicSiteBundle/Resources/public/css/*' output="bundles/icuppublicsite/css/basic.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        <div class="centerpage">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
