parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     '3306'
    database_name:     icup
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_host:       null
    mailer_user:       ~
    mailer_password:   ~

    locale:            da
    secret:            ~

    phpcr_user:        admin
    phpcr_password:    admin
