parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     '3306'
    database_name:     icup
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_host:       null
    mailer_user:       ~
    mailer_password:   ~

    locale:            da
    secret:            ~

    phpcr_user:        admin
    phpcr_password:    admin

    facebook_client_id: ~
    facebook_client_secret: ~

    google_client_id: ~
    google_client_secret: ~

    linkedin_client_id: XX
    linkedin_client_secret: XX

    stripesecret: ~