{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<h1>{% trans %}FORM.ADMIN{% endtrans %}</h1>
<p class="subtitle">{{ ['FORM.USER.TITLE.',action]|join|upper|trans }}</p>
<p>{{ ['FORM.USER.PROMPT.',action]|join|upper|trans }}</p>
{{ form(form) }}
{% endblock %}