{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}

{% block adminbody %}
<h1>{% trans %}FORM.ADMIN{% endtrans %}</h1>
<p class="subtitle">{{ ['FORM.CATEGORY.TITLE.',action]|join|upper|trans }}</p>
{% if error %}
    <p>{{ error|trans }}</p>
    <p><a href="{{ path('_edit_host_list') }}">{% trans %}FORM.ERROR.BACK{% endtrans %}</a></p>
{% else %}
    <p>{{ ['FORM.CATEGORY.PROMPT.',action]|join|upper|trans }}</p>
    {{ form(form) }}
{% endif %}
{% endblock %}