{% extends "ICupPublicSiteBundle:Default:layout.script.html.twig" %}

{% form_theme form _self %}

{% block body %}
<a href="{{ path('_edit_host_list') }}">
    <h1 class="category">iCup Tournament Administration</h1>
</a>
<p class="subcategory">{{ ['FORM.HOST.TITLE.',action]|join|upper|trans }}</p>
<p>
    <form action="{{ path('_edit_host_post', {'action': action }) }}" method="POST">
{% if action != 'del' %}
        <p>Indtast oplysninger på turneringsværten.</p>
        {{ form_rest(form) }}
{% else %}
        <p>Følgende turneringsvært vil bliver slettet.
           Alle kampresultater samt turneringsoplysninger knyttet til turneringensværten vil også blive fjernet.
           Det er ikke muligt at fortryde når turneringensværten er fjernet.</p>
        {{ form_rest(form) }}
{% endif %}
        <div class="form_button">
            <input type="submit" name="save" value="{{ ['FORM.HOST.SUBMIT.',action]|join|upper|trans }}" class="form_button" />
        </div>
    </form>
</p>
{% endblock %}