{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {{ ['FORM.USER.TITLE.',action]|join|upper|trans }}
    </h2>
    <p>{{ ['FORM.USER.PROMPT.',action]|join|upper|trans }}</p>
<div class="panel panel-default">
    <div class="panel-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}