{% block form_row %}
{% spaceless %}
    <div class="form_row">
        <div class="form_label">
            {{ form_label(form) }}:
        </div>
        <div class="form_widget">
            {{ form_widget(form) }}
            <div class="form_error">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="form_clear"></div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="form_button">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}
