/*
 *  Category finals
 */
TABLE.finals {
}
TABLE.finals TR TD {
    min-width: 20px;
    min-height: 20px;
}
TABLE.finals TR TD.line {
    min-width: 20px;
    border-bottom: 1px solid black;
}
TD.vlinel {
    border-right: 1px solid black;
}
TD.vliner {
    border-left: 1px solid black;
}
TD.leftteam {
    border-right: 2px solid black;
    padding-right: 5px;
}
TD.rightteam {
    border-left: 2px solid black;
    padding-left: 5px;
}
TD.vscoret {
    text-align: center;
    background-color: #CADFE3;
    border-radius: 10px 10px 0 0;
}
TD.vscoreb {
    text-align: center;
    background-color: #CADFE3;
    border-radius: 0 0 10px 10px;
}
TD.hscore {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #CADFE3;
    border-radius: 10px;
}