/*
    SUPPORTING TABLE STYLES
*/

BODY {
    padding-top: 50px;
}

DIV.main {
    padding-top: 20px;
}
DIV.form-btn-row {
    padding-top: 10px;
    padding-bottom: 40px;
}
/*
    In general we want table headers to be bold
*/
THEAD TR TD {
    font-weight: bold;
}
/*
    For nice formatting of columns with glyphs or numbers this style is needed
*/
TD.narrow-col {
    width: 20px;
    text-align: center;
}
/*
    For nice formatting of generic table columns with colored background this style is needed
*/
TD.box-margin {
    padding: 10px;
}
/*
    Forms are not organized in tables.
    However for the matchresults form, the score input controls need to fit in the framing table
*/
TD.input-col INPUT {
    width: 40px;
}
/*
    Fix for flag images.
    Need to be lifted 1 pixel to fit with team names
*/
TD.flag {
    width: 20px;
}
TD.flag IMG {
    position: relative;
    top: -1px;
}
IMG.flag {
    position: relative;
    top: -1px;
}
/*
    This class disables the hover underline for labels with a link
*/
A:hover.nolink {
    text-decoration: none;
}

.create-ui-toolbar-wrapper {
    position: relative;
}
