/*
 *  Winners
 */
TD.winners_country {
    width: 20%;
    text-align: center;
}
TD.winners {
    width: 20%;
}
TD.winner_first {
    padding: 5px;
    background-color: gold;
    background-image: -o-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, gold), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, gold 5%, white 95%);
    background-image: linear-gradient(bottom, gold 5%, white 95%);    
    font-weight: bold;
}
TD.winner_second {
    padding: 5px;
    background-color: silver;
    background-image: -o-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, silver), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, silver 5%, white 95%);
    background-image: linear-gradient(bottom, silver 5%, white 95%);    
}
TD.winner_third {
    padding: 5px;
    background-color: burlywood;
    background-image: -o-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, burlywood), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: linear-gradient(bottom, burlywood 5%, white 95%);    
}
