{% extends "ICupPublicSiteBundle:Masters:menu.html.twig" %}

{% block title %}{% trans from "admin" %}FORM.ADMIN{% endtrans %} - icup.dk{% endblock %}
{% block banner %}{% endblock %}

{% block body %}
<div class="admin">
    {% block adminbody %}{% endblock %}
</div>
{% endblock %}