{% trans_default_domain "errors" %}

{% macro showerror(error) %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-bomb"></i>&nbsp;{{ ['ERROR',error,'TITLE']|join('.')|trans }}
    </h2>
    <p>
        {{ ['ERROR',error,'SOLUTION']|join('.')|trans }}
    </p>
    <p>
{% if redirect is defined %}
        <a href="{{ redirect }}">{% trans %}ERROR.CLICKFORMORE{% endtrans %}</a>
{% else %}
        <a href="{{ path('_icup') }}">{% trans %}ERROR.CLICKFORMORE{% endtrans %}</a>
{% endif %}
    </p>
{% endmacro %}
