/*
   Default setup

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
*/
LABEL {
    color: #454545;
}
SELECT {
    font: 100% Arial, sans-serif;
    color: #454545;
}
SELECT[disabled="disabled"] {
    border: none;
    font-weight: bold;
    margin-left: 0px;
    -webkit-appearance: inherit;
}
INPUT {
    font: 100% Arial, sans-serif;
    color: #454545;
    width: 100%;
}
INPUT[disabled="disabled"] {
    border: none;
    font-weight: bold;
}
/*
    Form setup
*/
DIV.form_row {
    padding-bottom: 10px;
}
DIV.form_label {
    width: 100%;
    margin-right: 20px;
    float: left;
}
DIV.form_widget {
    width: 100%;
    float: left;
}
DIV.form_clear {
    clear: both;
}
DIV.form_error {
    color: #d66;
}
SPAN.form_button {
    margin-left: 20px;
}
P.form_button {
    width: 100%;
    text-align: right;
    border-top: 1px solid #454545;
    padding-top: 10px;
    margin-top: 10px;
}
DIV.new_user {
    font-size: 12pt;
    margin-top: 90px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #454545;
    background-color: #5cb85c;
    background-image: -o-linear-gradient(bottom, #5cb85c 5%, white 150%);
    background-image: -moz-linear-gradient(bottom, #5cb85c 5%, white 150%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #5cb85c), color-stop(1.50, white));
    background-image: -webkit-linear-gradient(bottom, #5cb85c 5%, white 150%);
    background-image: -ms-linear-gradient(bottom, #5cb85c 5%, white 150%);
    background-image: linear-gradient(bottom, #5cb85c 5%, white 150%);    
}
DIV.infobox {
    font-size: 12pt;
    margin-top: 90px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #454545;
    background-color: #5bc0de;
    background-image: -o-linear-gradient(bottom, #5bc0de 5%, white 150%);
    background-image: -moz-linear-gradient(bottom, #5bc0de 5%, white 150%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #5bc0de), color-stop(1.50, white));
    background-image: -webkit-linear-gradient(bottom, #5bc0de 5%, white 150%);
    background-image: -ms-linear-gradient(bottom, #5bc0de 5%, white 150%);
    background-image: linear-gradient(bottom, #5bc0de 5%, white 150%);    
}
DIV.searchresult {
    font-size: 12pt;
    margin-top: 90px;
    color: #454545;
}
/*
    Class setup
*/
DIV.header {
    width: 100%;
    text-align: left;
    background: #313131;
}
DIV.caption {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    color: #313131;
    width: 100%;
    text-align: center;
}
DIV.menu_header {
    vertical-align: bottom;
    padding: 15px 30px 5px 0px;
    display: inline-table;
}
DIV.last {
    float: right;
    padding: 15px 0px 5px 0px;
}
DIV.menu_header UL {
    color: #D1D1D1;
    margin: 0px;
    padding: 0px;
}
DIV.menu_header UL LI {
    list-style: none;
}
DIV.menu_header UL LI A {
    font-weight: bold;
    color: #D1D1D1;
}
DIV.menu_header UL LI A:hover {
    font-weight: bolder;
    color: #f0ad4e;
    text-decoration: none;
}
DIV.menu {
    width: 700px;
    margin: 0px auto;
    text-align: left;
}
DIV.centerpage {
    width: 700px;
    margin: 0px auto;
    text-align: left;
    min-height: 475px;
}
DIV.footer {
    width: 100%;
    text-align: left;
    background: #313131;
    min-height: 100px;
    margin-top: 30px;
}
DIV.menu_footer {
    width: 160px;
    vertical-align: top;
    padding-bottom: 20px;
    display: inline-table;
}
DIV.menu_footer UL {
    color: #D1D1D1;
    margin: 0px;
    padding: 0px;
}
DIV.menu_footer UL LI {
    list-style: none;
}
DIV.menu_footer UL LI A {
    color: #D1D1D1;
}
DIV.menu_footer UL LI A:hover {
    color: #f0ad4e;
    text-decoration: none;
}
DIV.menu_footer H3 {
    color: white;
}
H1.category {
    -webkit-margin-after: 0px;
}
DIV.champions {
    width: 33%;
    float: left;
}
DIV.champions_clear {
    clear: left;
}
DIV.winner_category {
    font-size: 14pt;
    font-weight: bold; 
    padding-top: 10px;
}
P.winner_subcategory {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
DIV.header1 {
    font-size: 30px;
    font-weight: bold; 
    padding-top: 20px;
}
DIV.header3 {
    font-weight: bold;
    padding-bottom: 10px;
}
P.subtitle {
    -webkit-margin-before: 0px;
    font-weight: bold;    
}
P.subcategory {
    -webkit-margin-before: 0px;
    font-weight: bold;    
}
H2.group {
    -webkit-margin-after: 0px;
}
P.subgroup {
    font-weight: bold;    
}
P.language {
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 10px;
}
DIV.tab {
    background-color: whitesmoke;
    color: #313131;
    font-size: 11pt;
    font-weight: bold;    
    width: 30%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    float: left;
}
DIV.active {
    background-color: #428bca;
    color: whitesmoke;
}
DIV.rank {
    font-size: 10px;
    font-weight: bold;    
    color: #313131;
}
/*
 *  Category finals
 */
TD.winner {
    font-weight: bold;    
}
TD.finals {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: 120px;
}
TD.lineED {
    border-top: 1px solid black;
    border-right: 1px solid black;
}
TD.lineEU {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
TD.lineSD {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
TD.lineSU {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
TD.spacer {
    padding-top: 25px;
}
TD.filler {
    padding-top: 60px;
}
/*
 *  Winners
 */
TD.winner_category {
    padding-top: 10px;
    padding-left: 5px;
    background-color: whiteSmoke;
    font-weight: bold;
    font-size: 14pt;
}
TD.winner_subcategory {
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    background-color: whiteSmoke;
}
TD.winners_country {
    width: 80px;
    text-align: center;
}
TD.winners {
    width: 20%;
}
TD.winner_first {
    padding: 5px;
    background-color: gold;
    background-image: -o-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, gold), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, gold 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, gold 5%, white 95%);
    background-image: linear-gradient(bottom, gold 5%, white 95%);    
    font-weight: bold;
}
TD.winner_second {
    padding: 5px;
    background-color: silver;
    background-image: -o-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, silver), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, silver 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, silver 5%, white 95%);
    background-image: linear-gradient(bottom, silver 5%, white 95%);    
}
TD.winner_third {
    padding: 5px;
    background-color: burlywood;
    background-image: -o-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -moz-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, burlywood), color-stop(0.95, white));
    background-image: -webkit-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: -ms-linear-gradient(bottom, burlywood 5%, white 95%);
    background-image: linear-gradient(bottom, burlywood 5%, white 95%);    
}
TD.winner_flag {
    position: relative;
    top: -3px;
    padding: 2px;
}
TD.winner_flag_small {
    position: relative;
    top: -2px;
    padding: 2px;
}
TD.winner_team {
    padding: 2px;
    width: 200px;
}
TD.winner_team_small {
    padding: 2px;
    width: 200px;
    font-size: 11px;
}
/*
    TABLE STYLES
*/
CAPTION {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: #428bca;
}
THEAD TR TD {
    padding: 5px;
    font-weight: bold;
}
THEAD TR {
    border-bottom: 1px solid black;
}
TFOOT TR {
    border-top: 1px solid black;
}

TR.odd {
    background: whiteSmoke;
}
TR.even {
}
TR.markup {
    background: white;
    border-bottom: 1px solid #D1D1D1;
}
TD.flag {
    position: relative;
    top: -3px;
    width: 20px;
}
IMG.flag {
    position: relative;
    top: -3px;
}
TD.team {
    width: 300px;
}
TD.matches {
    width: 20px;
    text-align: center;
}
TD.score {
    width: 20px;
    text-align: center;
}
TD.goals {
    width: 20px;
    text-align: center;
}
TD.diff {
    width: 20px;
    text-align: center;
}
TD.points {
    width: 20px;
    text-align: center;
}
TD.no {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}
TD.date {
    font-weight: bold;
}
TD.time {
    width: 20px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
TD.playground {
    font-weight: bold;
}
TD.match {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
INPUT.match {
    width: 40px;
}
TD.category {
    width: 300px;
}
TD.date_solo {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
}
TD.column {
    vertical-align: top;
}
TD.country_spacer {
    padding-top: 10px;
}
TD.clubname {
    min-width: 250px;
}
TD.country {
    min-width: 250px;
}
TD.clubs {
    min-width: 200px;
    vertical-align: top;
}
TD.teams {
    min-width: 250px;
    padding: 5px;
}
TD.sites {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
    width: 10px;
}
TD.playgrounds {
    width: 400px;
}
TD.classification {
    padding: 5px;
    font-weight: bold;
    width: 200px;
    vertical-align: middle;
}
TD.categories {
    padding: 5px;
    width: 250px;
}
TD.placement {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
}
TD.host_solo {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
}
TD.title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
}
TD.indent {
    width: 30px;
}
TD.role {
    padding-left: 5px;
    width: 200px;
}
TD.operand {
    width: 20px;
    text-align: center;
}
TD.statistics {
    width: 100px;
    text-align: right;
}
TD.tournament {
    padding-left: 5px;
    width: 250px;
}
TD.edition {
}
TD.description {
    width: 350px;
}

DIV.admin H1 {
    color: #5cb85c;
}
TR.info {
    border-top: 1px solid black;
    background: lightgray;
}
TR.info TD {
    padding: 5px;
}
SPAN.link {
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}
SPAN.link:hover {
    text-decoration: underline;
}

/*
    OVERVIEW STYLES
*/
DIV.overviewBlock {
    position: relative;
}
IMG.overviewImageBackground {
    width: 100%;
}
DIV.overview {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
}
DIV.overviewHeader {
    float: left;
    height: 200px;
    width: 320px;
}
DIV.overviewNews {
    margin-top: 30px;
}
DIV.overviewMenu {
    border: 2px solid #cccccc;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    width: 320px;
    height: 350px;
    float: right;
}
DIV.overviewMenuBackground {
    opacity: 0.85;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: whitesmoke;
    width: 100%; 
    height: 100%;
}
DIV.overviewMenuContent {
    padding: 10px;
}
DIV.teaserBlock {
    cursor: pointer;
}
DIV.teaserTitle {
    font-weight: bold;
}
DIV.teaser {
    padding-bottom: 10px;
}