<md-dialog aria-label="{{ 'FORM.MATCHPLANNING.EDITMATCH.TITLE' | translate }}" style="width: 80%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-toolbar-tools">{{ 'FORM.MATCHPLANNING.EDITMATCH.TITLE' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()"><span class="fa fa-2x fa-times"></span></md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div class="row">
            <div class="col-md-6">
                <form name="criteriaForm" ng-submit="search_matches(destination_object)" ng-cloak>
                    <div layout="column">
                        <md-input-container class="md-block">
                            <label>{{ 'FORM.TOURNAMENTBOARD.PLAYGROUND' | translate }}</label>
                            <md-select name="venue" ng-model="destination_object.venue" ng-model-options="{trackBy: '$value.id'}">
                                <md-option ng-repeat="venue in venues" ng-value="{{ venue }}">{{ venue.name }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>{{ 'FORM.TOURNAMENTBOARD.TIMESLOT' | translate }}</label>
                            <md-select name="timeslot" ng-model="destination_object.timeslot" ng-model-options="{trackBy: '$value.id'}">
                                <md-option ng-repeat="timeslot in timeslots | orderBy: ['name']" ng-value="{{ timeslot }}">
                                    {{ timeslot.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div layout="row">
                            <md-datepicker ng-model="destination_object.date"
                                           md-placeholder="{{ 'FORM.TOURNAMENTBOARD.DATE' | translate }}"
                                           md-min-date="minDate" md-max-date="maxDate">
                            </md-datepicker>
                            <span flex></span>
                            <md-input-container class="md-block">
                                <label for="time">{{ 'FORM.TOURNAMENTBOARD.TIME' | translate }}</label>
                                <input type="text" id="time" ng-model="destination_object.time" md-autofocus>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="md-padding" md-whiteframe="24" layout="column">
                    <h2>{{ 'FORM.MATCHPLANNING.EDITMATCH.MATCH' | translate }}</h2>
                    <span>{{ 'FORM.MATCHPLANNING.MATCHNO' | translate }} {{ match.matchno }}</span>
                    <span>{{ 'CATEGORY' | translate:'tournament' }} {{ match.category.name }}</span>
                    <span>{{ 'GROUP' | translate:'tournament' }} {{ match.group.name }}</span>
                    <span style="min-height: 10px"></span>
                    <span>{{ 'LEGEND.HOMETEAM' | translate:'tournament' }}</span>
                    <span>
                        <img src="{{ flagsDir+match.home.flag }}"
                             alt="{{ match.home.country }}"
                             title="{{ match.home.country }}" ng-if="match.home.flag" class="flag">
                        {{ match.home.name }}
                    </span>
                    <span>{{ 'LEGEND.AWAYTEAM' | translate:'tournament' }}</span>
                    <span>
                        <img src="{{ flagsDir+match.away.flag }}"
                             alt="{{ match.away.country }}"
                             title="{{ match.away.country }}" ng-if="match.away.flag" class="flag">
                        {{ match.away.name }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row title">
            <div class="col-md-1 text-center">{{ 'LEGEND.NO' | translate:'tournament' }}</div>
            <div class="col-md-1 text-right">
                {{ 'LEGEND.TIME' | translate:'tournament' }}
            </div>
            <div class="col-md-1 text-center">
                {{ 'LEGEND.CATEGORY' | translate:'tournament' }}
            </div>
            <div class="col-md-1 text-center">
                {{ 'LEGEND.GROUP' | translate:'tournament' }}
            </div>
            <div class="col-md-4">
                {{ 'LEGEND.HOMETEAM' | translate:'tournament' }}
            </div>
            <div class="col-md-4">
                {{ 'LEGEND.AWAYTEAM' | translate:'tournament' }}
            </div>
        </div>
        <div class="row" ng-mouseenter="msover=true" ng-mouseleave="msover=false" ng-init="msover=false"
             ng-class="{ 'bg-facebook-lightblue white': msover, 'bg-table-row': $odd, 'alert-warning': match.status == 'W', 'alert-danger': match.status == 'A' }"
             ng-repeat="match in matches | filter:matchFilter | limitTo:limit as results track by match.uid"
             ng-click="destination_object.time=match.time.text"
        >
            <div class="col-md-1 text-center">{{ match.matchno }}</div>
            <div class="col-md-1 text-right">
                {{ match.time.text }}
            </div>
            <div class="col-md-1 text-center">
                {{ match.category.name }}
            </div>
            <div class="col-md-1 text-center">
                {{ match.group.name }}
            </div>
            <div class="col-md-4">
                <img src="{{ flagsDir+match.home.flag }}"
                     alt="{{ match.home.country }}"
                     title="{{ match.home.country }}" ng-if="match.home.flag" class="flag">
                {{ match.home.name }}
            </div>
            <div class="col-md-4">
                <img src="{{ flagsDir+match.away.flag }}"
                     alt="{{ match.away.country }}"
                     title="{{ match.away.country }}" ng-if="match.away.flag" class="flag">
                {{ match.away.name }}
            </div>
        </div>
        <div class="md-padding" md-whiteframe="24" style="margin-top: 10px" layout layout-align="center center" ng-if="results.length==0">
            <h3>{{ 'FORM.TOURNAMENTBOARD.NORESULTS' | translate }}</h3>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="submit()" class="md-primary md-raised" flex="50">{{ 'FORM.SUBMIT' | translate }}</md-button>
        <md-button ng-click="cancel()" class="md-raised" flex="50">{{ 'FORM.CLOSE' | translate }}</md-button>
    </md-dialog-actions>
</md-dialog>
