<md-dialog aria-label="{{ 'FORM.MATCHPLANNING.MATCHIMPORT.TITLE' | translate }}" style="max-width: 30%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-toolbar-tools">{{ 'FORM.MATCHPLANNING.MATCHIMPORT.TITLE' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()"><span class="fa fa-2x fa-times"></span></md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div>
            <i class="fa fa-upload fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
            {{ 'FORM.MATCHPLANNING.MATCHIMPORT.DESCRIPTION' | translate }}
        </div>
        <form class="form" ng-submit="submit(uploadFile)">
            <div class="form-group">
                <p>{{ 'FORM.MATCHPLANNING.MATCHIMPORT.LABEL' | translate }}</p>
                <file-field class="btn btn-file" ng-model="uploadFile">
                    {{ 'FORM.MATCHPLANNING.MATCHIMPORT.BROWSE' | translate }}
                </file-field>
            </div>
            <div md-whiteframe="3" layout-padding ng-show="uploadFile">
                {{ 'FORM.MATCHPLANNING.MATCHIMPORT.FILE' | translate }}<br />
                {{ uploadFile.name }}
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <p flex></p>
        <md-button ng-click="submit(uploadFile)" ng-disabled="uploadFile==undefined" class="md-raised" ng-class="{ 'md-primary': uploadFile }" flex="40">
            {{ 'FORM.MATCHPLANNING.MATCHIMPORT.UPLOAD' | translate }}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised" flex="40">{{ 'FORM.CLOSE' | translate }}</md-button>
    </md-dialog-actions>
</md-dialog>
